/* General styles -  */

body, h2, p {
    margin: 0;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 16px;
    background-color: #ccc;
  }
  
  /* Selectors to be matched up with rulesets */
  

  
  /* Rulesets to be matched up with selectors */
  
  .card {
    width: 35em;
    height: 22em;
    margin: 5em auto;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
  }
  
  .card header  {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
  }
  .card header h2 {
    font-size: 1.25em;
    line-height: 1.5em;
  }
  .card footer {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }
  .card footer p {
    font-size: 0.9375em;
    line-height: 2.9em;
  }
  .card header, .card footer {
    height: 3.125em;
    padding: 0.625em;
  }
  .card article {
    height: 13.0em;
    background-color: rgba(0,0,0,0.5);
    padding-left: 1em ;
    color:white;
  }
  .card article p {
    line-height: 1.5em;
  }
  .card article img {
    max-height: 100%;
    float: right;
  }

  #jake.card {
    background-color: green;
    font-family: "Times New Roman",serif;
  }